/*GLOBAL*/
@font-face{
	font-family:"Opensans";
	src:url("../fonts/opensans-regular_0-webfont.eot"),
		url("../fonts/opensans-regular_0-webfont.svg"),
		url("../fonts/opensans-regular_0-webfont.ttf"),
		url("../fonts/opensans-regular_0-webfont.woff");
}

html,body{
	margin:0;
	padding:0;
	font-family: Opensans, Verdana, Geneva, Arial, sans-serif;
	font-size:14px;
	border-top:3px solid #9D4B13;
    max-width: 100%;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p,ul{
	margin:0;
	padding:0;
}
li{
	list-style-type:none;
}
.wrapper{
	width:1010px;
	margin:0px auto;
	padding:25px 0px;
}
.clear{
	clear:both;
}
a:link{
	color:#000;
	text-decoration:none;
}
a:visited{
	color:#000;
}
a:hover{
	color:#BF8057;
}
a:active{
	color:#BF8057;
}
a.active{
	color:#BF8057;
}
.error_msg{
	font-weight:BOLD;
	color:red;
}
/*GLOBAL*/
/*HEADER*/
#header_content{
	float:right;
	font-size:1.11em;
}
#contacts,#navigation_bar{
	float:right;
	margin:10px 0;
	padding:0px;

}
#header li{
	display:inline-block;
}
#header #contacts #phone{
	background-image: url(../images/contact_icon.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left:30px;
	color:#A45625;
	text-decoration:underline;
	margin-right:25px;
}
#header #contacts #email_c{
	background-image: url(../images/e-mail_icon.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left:30px;
	color:#A45625;
	text-decoration:underline;
}
#header #contacts #email_c a{
	color:#A45625;
}
.separator{
	margin:0 12px;
}
#order_now_button,#not_logged_in_button{
	margin:0 0 0 20px;
	background-color:#202020;
	color:#fff;
	padding:5px 10px;
	border:1px outset #000;
	border-radius:5px;
}
#order_now_button a:link, #registration a:link{
		color:#fff;
		text-decoration:none;

}
#order_now_button a:visited, #registration a:visited{
		color:#fff;
}
#order_now_button a:hover,#registration a:hover{
		color:#fff;
}
#order_now_button a:active,#registration a:active{
		color:#fff;
}
/*HEADER*/
/*FOOTER*/
#footer{
	background-image:url('../images/footer.jpg');
	vertical-align:top;
}
#footer h3{
	padding-bottom:10px;
	color:#fff;
	font-size:1.5em;
	font-weight:500;
	margin-bottom:20px;
	border-bottom:1px solid #000;
}
#newsletter{
	float:right;
	width:230px;
	margin:0px 0px;
	margin-bottom:30px;
}
#link{
	float:left;
	width:370px;
	margin-right:30px;
}
#social{
	float:left;
	width:350px;
}
#link li{
	float:left;
	width:100px;
	line-height:25px;
	color:#9F9F9F;
	padding-left:20px;
	background-image:url("../images/deskboard_arrow.png");
	background-position:left;
	background-repeat:no-repeat;
}
#social li{
	float:left;
	margin:5px;
}
#link li a{
	color:#9F9F9F;
}
#newsletter label{
	color:#9f9f9f;
	line-height:40px;
}
#newsletter #email_text{
	background-color:#323031;
	border:none;
	font-size:0.9em;
	color:#5B595A;
	padding:5px;
	width:135px;
	line-height:;
	margin:0px;
}
#newsletter #button{
	background:-moz-linear-gradient(#fff -500%,#000 );
	background:-webkit-linear-gradient(#fff -500%,#000 );
	background:-o-linear-gradient(#fff -500%,#000 );
	background:linear-gradient(#fff -500%,#000 );
	border-top:1px solid white;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	margin:0px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	padding:4px 10px;
	color:#fff;
	font-size:1em;
	position:relative;
	left:-3px;
	box-shadow: -2px 0px 3px #000;
	cursor:pointer;
}
#copy{
	color:#4A4A4A;
	background-color:#101010;
	text-align:center;
	padding:15px;
}
#company{
	color:#9D4B13;
}
/*FOOTER*/
/*MAIN PAGE BANNER*/
.banner_wrapper{

	max-width:100%;
}
#index_banner img{

	/* margin:0 auto; */
	text-align:center;
	width:100%;
}
#quality{
	position:absolute;
	top:290px;
	left:70px;
	font-size:2.6em;
	font-weight:bolder;
	color:#fff;
}
#services{
	position:absolute;
	top:379px;
	left:135px;
	font-size:2em;
	font-weight:bold;
	color:#fff;
	list-style-type:none;
	line-height:1.5em;
}
#index_banner_footer{
	background-color:#9D4B13;
	height:100px;
	width:100%;
	position:absolute;
	top:640px;
	left:0px;
	color:#fff;
	font-size:3.4em;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	opacity:0.9;
}
#index_banner_footer  p{
	height:60px;
	margin: 18px 0;
	opacity:1;
}
p{
	opacity:1;
}
/*MAIN PAGE BANNER*/
/*MAIN PAGE*/

.index_main h1{
	margin:25px 0px;
	font-size:2.2em;
	font-weight:300;
}
#category{
	margin:0px;
	padding:0px;
	font-weight:500;
}
#category>div{
	background:-moz-linear-gradient(#D35602,#823501);
	background:-webkit-linear-gradient(#D35602,#823501);
	background:-o-linear-gradient(#D35602,#823501);
	background:-linear-gradient(#D35602,#823501);
	float:right;
	color:#fff;
	cursor:pointer;
	text-align:center;
	font-size:1.5em;
	border-radius:5px;
	margin:0.5%;
	border:2px solid #DE8243;
}
#category > div:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,666666+1,595959+24,2b2b2b+59,2b2b2b+59,131313+100 */
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #666666 1%, #595959 24%, #2b2b2b 59%, #2b2b2b 59%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#666666 1%,#595959 24%,#2b2b2b 59%,#2b2b2b 59%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#666666 1%,#595959 24%,#2b2b2b 59%,#2b2b2b 59%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	border-color: #4c4c4c;
}
.img{
	margin-top:7px;
	box-sizing:border-box;
	width:60px;
	height:60px;
	float:left;
	margin-left:5px;
	background-repeat:no-repeat;
 	display:inline-block;
	z-index:99;
}
.popup:nth-child(5), .popup:nth-child(6){
	width:48%;
	display: inline-block;
}
.popup{
	width:23.2%;
	vertical-align:middle;
	text-align:center;
}

#tags{
	padding:0px;
	text-align:center;
}
#tags li{
	display:inline;
	font-size:1.3em;
	border:1px solid black;
	padding:2px 15px;
	border-radius:3px;
	line-height:40px;
	margin:3px;
}
/*MAIN PAGE*/
/*ALL PAGE BANNERS*/

#banner img{
	text-align:center;
	width:100%;
}
#banner_footer {
	background-color:#000;
	color:#fff;
	font-size:3em;
	text-align:center;
	position:absolute;
	top:330px;
	left:175px;
	opacity:0.8;
}
#banner_footer p{
	padding:5px 80px;
	margin:0px;
}
/*ALL PAGE BANNERS*/
/*ABOUT US PAGE*/
/* #about_us_image{
	padding:10px;
	background-color:#F2F2F2;
	border:1px solid #C6C6C6;
	float:left;
	margin:20px 20px 20px 0;
} */
/*ABOUT US PAGE*/
/*CONTACT US PAGE*/
#contact_info{
	border:1px solid #CFCFCF;
	margin:25px 15px 25px 0px;
	width:740px;
	padding:20px;
	background-color:#F2F2F2;
}
#contact_info h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.8em;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
}
#contact_info #first_name,#contact_info #phone_no,#contact_info #email{
	width:225px;
	height:35px;
	margin:5px 0px 0px 0px;
	padding:5px;
	border:1px solid #E8E8E8;
	border-radius:2px;
}
#first_name_div{
	width:225px;
	float:left;
	margin:0 15px 20px 0;
}
#contact_info #phone_no_div{
	width:225px;
	float:left;
	margin:0 15px 20px 15px;
}
#contact_info #email_div{
	width:225px;
	float:left;
	margin:0 0 20px 15px;
}
#cnt_img{
	float:right;
}
#msg_div{

	width:480px;
	margin:0px 15px 20px 0;
}
#msg{
	font-size:14px;
	padding:5px;
	width:480px;
	height:100px;
	margin:5px 0 0 0;
	border:1px solid #E8E8E8;
	border-radius:2px;
	resize:none;
	font-family:Opensans,Verdana,Geneva,Arial,sans-serif;
}

#v_code_img{
	margin:5px 10px 0 0;
	position:relative;
	top:8px;
}
#v_code{
	margin:5px 0 0 5px;
	padding:5px;
	width:160px;
	height:30px;
	border:1px solid #E8E8E8;
	border-radius:2px;
}
#contact_info #submit_button{
	background:-moz-linear-gradient(#fff -500%,#000);
	background:-linear-gradient(#fff -500%,#000);
	background:-o-linear-gradient(#fff -500%,#000);
	background:-webkit-linear-gradient(#fff -500%,#000);
	border:1px outset black;
	margin:0px;
	border-radius:5px;
	padding:5px 15px;
	color:#fff;
	font-size:1em;
	position:relative;
	left:30px;
	cursor:pointer;
}

#postal_add{
	float:right;
	margin:25px 0 0 30px;
	width:200px;

	line-height:20px;
	font-size:1em;
}
#postal_add #term{
	font-weight:bold;
	font-size:1em;
	background-image: url('../images/home_icon.png');
	background-position:left;
	background-repeat:no-repeat;
	padding-left:25px;
	line-height:3em;
}
#postal_add dl{
	margin:0;
}
#postal_add dd{
	margin:0px;

}
#postal_add ul{
	padding:0px;
	line-height:30px;
}
#postal_add ul li span{
	color:gray;
}
#postal_add #office{
	background-image:url('../images/phone_icon.png');
	background-position:1px;
	background-repeat:no-repeat;
	padding-left:25px;
}
#postal_add #cell{
	background-image:url('../images/cell_icon.png');
	background-position:4px;
	background-repeat:no-repeat;
	padding-left:25px;
}
#postal_add #mail{
	background-image:url('../images/mail_icon.jpg');
	background-position:left;
	background-repeat:no-repeat;
	padding-left:25px;
}
/*CONTACT US PAGE*/
/*FAQ PAGE*/
#accordion h3{
	padding:5px 10px;
	font-size:1.5em;
	font-weight:lighter;
}
#accordion img{
	margin-right:5px;
}
/* #accordion div{
	background-image:url("../images/FAQ_A.png");
	background-position:top left;
	background-repeat:no-repeat;
	padding-left:40px;
} */
#accordion div p span{
	padding-left:30px;
}
#accordion div p{
	background-image:url("../images/FAQ_A.png");
	background-position:top 0%;
	background-repeat:no-repeat;
	margin-left:-20px;
	padding:0px;
}
/*FAQ PAGE*/
/*LOGIN PAGE*/
#login,#registration{
	font-size:0.9em;
	color:#545454
}
#registration{
	border:1px solid #CFCFCF;
	margin:5px 15px 5px 0px;
	width:450px;
	padding:19px;
	background-color:#F2F2F2;
}
#registration h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.7em;
	font-weight:bold;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
}
#registration ul a li:hover{
	background-color:#9C4A12;
}
#login{
	float:right;
	border:1px solid #CFCFCF;
	margin:5px 0px 5px 15px;
	width:450px;
	padding:20px 10px 10px 10px;
	background-color:#F2F2F2;
	line-height:20px;
}
#login form{
	margin:0;
}
#login h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.7em;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
}
#login #email,#login #password{
	width:450;
	height:30px;
	margin:4px 0px 4px 0px;
	border:1px solid #E8E8E8;
	border-radius:2px;
	padding:5px;
}


#login_button{
	margin:5px 0 0 0;
	background-color:#202020;
	color:#fff;
	padding:5px 20px;
	border:1px solid #000;
	border-radius:3px;
	font-size:1.2em;
	cursor: pointer;
}
#not_logged_in_button{
	margin-top:20px;
	cursor:pointer;
}
.forgetdiv{
	float:right;
	margin-top:10px;
	width:25%;
}
#forget a{
	color:#9D4B13;
}
#registration ul{
	margin:0;
	padding:0;
}
#registration li{
	display:inline-block;
	width:170px;
	margin:20px 10px 0 0;
	background-color:#202020;
	color:#fff;
	padding:7px 20px;
	border:1px solid #000;
	border-radius:5px;
	text-align:center;
	font-size:1.2em;
}
#forgot_pass_submit_btn{
	color:#fff;
	margin:5px 0 0 0;
	background-color:#202020;
	padding:5px ;
	border:1px solid #000;
	border-radius:3px;
	font-size:1.2em;
}
#forgot_img{
	text-align="center";
	margin-top:"25px";
	margin-bottom:"5px";
	margin-left:220px;
}
#forgot_pass_form{
	text-align:center;
}
#error_msg_newsletter{
	color:#fff;
	opacity:0.8;
}
/*LOGIN PAGE*/


/*REGISTER CUSTOMER PAGE*/
#customer_info{
	overflow:auto;
	border:1px solid #CFCFCF;
	margin:0px 15px 0px 0px;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:1000px;
	padding:20px;
	background-color:#F2F2F2;
}
#customer_info h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.8em;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
}

#customer_info #username,#customer_info #phone_no,#customer_info #email,#customer_info #password,#customer_info #cnfm_password,#customer_info #company_name{
	width:460px;
	height:35px;
	margin:5px 0px 0px 0px;
	border:1px solid #E8E8E8;
	border-radius:3px;
	padding:0px 5px;
}
#about_me,#address{
	font-family:inherit;
	padding:5px 5px;
	font-size:14px;
}
#customer_info #username_div,#customer_info #password_div,#customer_info #phone_no_div,#customer_info #email_div,#customer_info #cnfm_password_div,#customer_info #company_div,#customer_info #about_me_div,#customer_info #address_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:460px;
	float:left;
	margin-top:20px;
}
#customer_info #username_div,#customer_info #password_div,#customer_info #cnfm_password_div,#customer_info #about_me_div
{
	margin-right:35px;
}
#customer_info #about_me,#customer_info #address{
	width:460px;
	height:100px;
	margin:5px 0 0 0;
	border:1px solid #E8E8E8;
	border-radius:2px;
	resize:none;
}

#register_button{
	background:-moz-linear-gradient(#fff -500%,#000);
	border:1px outset black;
	margin:20px 0 20px 0;
	border-radius:5px;
	padding:5px 15px;
	color:#fff;
	font-size:1em;
	display:inline-block;
	float:right;
	cursor:pointer;
}
/*REGISTER CUSTOMER PAGE*/
/*REGISTER DRIVER PAGE*/
#driver_info{
	overflow:auto;
	border:1px solid #CFCFCF;
	margin:0px 15px 0px 0px;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:1000px;
	padding:20px;
	background-color:#F2F2F2;
}
#driver_info h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.8em;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
	font-weight:medium;
}

#driver_info #username,#driver_info #phone_no,#driver_info #email,#driver_info #password,#driver_info #cnfm_password,#driver_info #company_name{
	width:460px;
	height:35px;
	margin:5px 0px 0px 0px;
	border:1px solid #E8E8E8;
	border-radius:3px;
	padding:0px 5px;
}
#driver_info #username_div,#driver_info #password_div,#driver_info #phone_no_div,#driver_info #email_div,#driver_info #cnfm_password_div,#driver_info #company_div,#driver_info #about_me_div,#driver_info #address_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:460px;
	float:left;
	margin-top:20px;
}
#driver_info #username_div,#driver_info #password_div,#driver_info #cnfm_password_div,#driver_info #about_me_div
{
	margin-right:35px;
}
#driver_info #about_me,#driver_info #address{
	width:460px;
	height:100px;
	margin:5px 0 0 0;
	border:1px solid #E8E8E8;
	border-radius:2px;
	resize:none;
}

#register_button{
	background:-moz-linear-gradient(#fff -500%,#000);
	border:1px outset black;
	margin:20px 0 20px 0;
	border-radius:5px;
	padding:5px 15px;
	color:#fff;
	font-size:1em;
	display:inline-block;
	float:right;
	cursor:pointer;
}
/*REGISTER DRIVER PAGE*/
/*REGISTER LAUNDRY PAGE*/
#laundry_info{
	overflow:auto;
	border:1px solid #CFCFCF;
	margin:0px 15px 0px 0px;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:1000px;
	padding:20px;
	background-color:#F2F2F2;
}
#laundry_info h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.8em;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
}

#laundry_info #username,#laundry_info #phone_no,#laundry_info #email,#laundry_info #password,#laundry_info #cnfm_password,#laundry_info #company_name{
	width:460px;
	height:35px;
	margin:5px 0px 0px 0px;
	border:1px solid #E8E8E8;
	border-radius:3px;
	padding:0px 5px;
}
#laundry_info #username_div,#laundry_info #password_div,#laundry_info #phone_no_div,#laundry_info #email_div,#laundry_info #cnfm_password_div,#laundry_info #company_div,#laundry_info #about_me_div,#laundry_info #address_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:460px;
	float:left;
	margin-top:20px;
}
#laundry_info #username_div,#laundry_info #password_div,#laundry_info #cnfm_password_div,#laundry_info #about_me_div
{
	margin-right:35px;
}
#laundry_info #about_me,#laundry_info #address{
	width:460px;
	height:100px;
	margin:5px 0 0 0;
	border:1px solid #E8E8E8;
	border-radius:2px;
	resize:none;
}

#register_button{
	background:-moz-linear-gradient(#fff -500%,#000);
	border:1px outset black;
	margin:20px 0 20px 0;
	border-radius:5px;
	padding:5px 15px;
	color:#fff;
	font-size:1em;
	display:inline-block;
	float:right;
	cursor:pointer;
}

#laundry_info{
	overflow:auto;
	border:1px solid #CFCFCF;
	margin:0px 15px 0px 0px;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:1000px;
	padding:20px;
	background-color:#F2F2F2;
}
#laundry_info h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.8em;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
}

#laundry_info #username,#laundry_info #phone_no,#laundry_info #email,#laundry_info #password,#laundry_info #cnfm_password,#laundry_info #company_name{
	width:460px;
	height:35px;
	margin:5px 0px 0px 0px;
	border:1px solid #E8E8E8;
	border-radius:3px;
}
#laundry_info #logo{
	border:1px solid #E8E8E8;
	width:460px;
	background-color:#fff;
	padding:10px;
	margin:5px 0 0 0;
	border-radius:3px;
}
#laundry_info #username_div,#laundry_info #password_div,#laundry_info #phone_no_div,#laundry_info #email_div,#laundry_info #cnfm_password_div,#laundry_info #company_div,#laundry_info #about_me_div,#laundry_info #address_div,#laundry_info #logo_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:460px;
	float:left;
	margin-top:20px;
}
#laundry_info #username_div,#laundry_info #password_div,#laundry_info #cnfm_password_div,#laundry_info #about_me_div,#laundry_info #logo_div
{
	margin-right:35px;
}
#laundry_info #about_me,#laundry_info #address{
	width:460px;
	height:100px;
	margin:5px 0 0 0;
	border:1px solid #E8E8E8;
	border-radius:2px;
	resize:none;
}
.category ul,.category ul{
	margin:0;
	padding:0;
}
.category li,.category li{
	display:inline-block;
	width:310px;
	margin:5px 0;
}
.category label,.category label{
	display:inline-block;
	width:230px;
}
.category{
	margin:20px 0;
}
.category input,.category input{
	width:60px;
	height:30px;
	background-color:#F5F5F5;
	border:1px solid #E8E8E8;
	padding:0px 5px;
}
#register_button{
	background:-moz-linear-gradient(#fff -500%,#000);
	background:-webkit-linear-gradient(#fff -500%,#000);
	background:-o-linear-gradient(#fff -500%,#000);
	background:linear-gradient(#fff -500%,#000);
	border:1px outset black;
	margin:20px 0 20px 0;
	border-radius:5px;
	padding:5px 15px;
	color:#fff;
	font-size:1em;
	display:inline-block;
	float:right;
	cursor:pointer;
}
/*REGISTER LAUNDRY PAGE*/

/*REST*/
#profile, #change_password_form, #my_order_table, #new_order_table, #my_order_view_details_table, #new_order_view_details_table, #my_payment_table, #my_payment_view_details_table, #income, #select_seller_table, #pay_now_div, #payment{
	overflow:auto;
	border:1px solid #CFCFCF;
	padding:20px;
	margin:0;
	background-color:#F2F2F2;
}
#my_order_view_details_table table tr:nth-child(even),#my_payment_view_details_table table tr:nth-child(even),#my_payment_table table tr:nth-child(even){
	background-color:#EAEAEA;
}
#my_order_view_details_table table tr:nth-child(odd),#my_payment_view_details_table table tr:nth-child(odd),#my_payment_table table tr:nth-child(odd){
	background-color:#F2F2F2;
}
#payment_done{
	margin-top:15px;
	float:right;
	font-size:16px;
	color:#984C18;
}
#my_order_table table tr td a,#my_payment_table table tr td a{
	color:#9E4815;
}
#my_order_table table tr td a:hover,#my_payment_table table tr td a:hover{
	text-decoration:underline;
}
#payment{
	text-align:center;
	font-size:1.9em;
	line-height:2.2em;
}
#payment h1{
	color:#9c4a12;
	font-size:1.2em;
}
#one{
	font-size:0.8em;
}
#payment strong{
	background-color:#fff;
	padding:5px 20px;
	font-weight:normal;
}
#profile_div, #change_password_div, #my_order_div, #new_order_div, #my_order_view_details_div, #new_order_view_details_div, #my_payment_div, #my_payment_view_details_div, #my_income_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:715px;
	float:left;
}
#profile h1,#change_password_form h1, #my_order_div h1, #new_order_table h1, #my_order_view_details_table h1, #new_order_view_details_table h1, #my_payment_table h1, #my_payment_view_details_table h1, #my_income h1, #select_seller_div h1, #pay_now_div h1{
	line-height:20px;
	color:#9C4A12;
	margin:0px 0 10px 0;
	font-size:1.8em;
	border-bottom:1px solid #AFAFAF;
	padding-bottom:15px;
}
#pay_now_img{
	float:right;
	margin-top:50px;
}
#pay_now_table{
	display:inline-block;
	width:65%;

}
#pay_now_table table{
	margin-bottom:20px;
}
#pay_now_table #pay_now_button{
	float:right;
}
#profile #username,#profile #phone_no,#profile #email,#profile #company_pro{
	width:100%;
	height:35px;
	margin:5px 0px 0px 0px;
	border:1px solid #E8E8E8;
	border-radius:3px;
	padding:5px;
}
#phone_no,#company_pro,#about_me,#address{
	color:#808080;
}
#change_password_form #new_pass,#change_password_form #conf_pass,#change_password_form #old_pass{
	width:100%;
	height:35px;
	margin:5px 0px 0px 0px;
	border:1px solid #E8E8E8;
	border-radius:3px;
	padding:5px;
}
#profile #username_div,#profile #phone_no_div,#profile #email_div,#profile #company_div,#profile #about_me_div,#profile #address_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:325px;
	float:left;
	margin-top:20px;
}
#change_password_form #new_pass_div,#change_password_form #conf_pass_div,#change_password_form #old_pass_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:440px;
	float:left;
	margin-top:17px;
}
#profile #phone_no_div,#profile #company_div,#profile #about_me_div,#profile #address_div{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:100%;
	float:left;
	margin-top:20px;
}
#profile #username_div
{
	margin-right:20px;
}
#profile #about_me,#profile #address{
	width:100%;
	height:100px;
	margin:5px 0 0 0;
	border:1px solid #E8E8E8;
	border-radius:2px;
	resize:none;
}

#profile_div #save_button,#change_password_div #save_button{
	background:-webkit-linear-gradient(#fff -500%,#000);
	background:-o-linear-gradient(#fff -500%,#000);
	background:-moz-linear-gradient(#fff -500%,#000);
	background:linear-gradient(#fff -500%,#000);
	border:1px outset black;
	margin:10px 0 20px 0;
	border-radius:5px;
	padding:5px 15px;
	color:#fff;
	font-size:1em;
	display:inline-block;
	float:right;
	cursor:pointer;
}
table{
	border-collapse:collapse;
	border:1px solid #CFCFCF;
	width:100%;
}
th,td{
	border-bottom:1px dotted #CFCFCF;
	border-left:1px solid #CFCFCF;
	padding:10px;
	text-align:center;
}
th{
	background: -webkit-linear-gradient(#fff -220%,#000);
	background: -o-linear-gradient(#fff -220%,#000);
	background: -moz-linear-gradient(#fff -220%,#000);
	background: linear-gradient(#fff -220%,#000);
	font-size:1em;
	font-weight:lighter;
	color: #fff;
	border-bottom:1px solid #cfcfcf;
}
.clname{
	text-align:left;
	padding-left:20px;
	color:#545454;
}
.orange_color{
	color:#B67853;
}
.quant{
	color:#545454;
}
td{
	font-size:0.9em;
}
td a{
	color:green;
}
#order_details{
	margin-bottom: 10px;
	float:left;
}
#total{
	float:right;
	margin:10px 0 5px 0;
	font-size:1.2em;
}
#back, #accept{
	float:right;
	margin:10px 0 5px 10px;
	border:1px solid none;
	font-size:1.2em;
	color:#FFF;
	background:-webkit-linear-gradient(#fff -220%,#000);
	background:-o-linear-gradient(#fff -220%,#000);
	background:-moz-linear-gradient(#fff -220%,#000);
	background:linear-gradient(#fff -220%,#000);
	border-radius:5px;
	padding:5px 15px;
}
#pay_now_button{
	border:1px solid none;
	font-size:1.2em;
	color:#FFF;
	margin-left:10px;
	background:-webkit-linear-gradient(#fff -220%,#000);
	background:-o-linear-gradient(#fff -220%,#000);
	background:-moz-linear-gradient(#fff -220%,#000);
	background:linear-gradient(#fff -220%,#000);
	border-radius:5px;
	padding:5px 15px;
}
#user_name{

}
#income_no{
	background-color:#fff;
	width:100%;
	font-size:3em;
	padding:40px 0;
	text-align:center;
}
#income label{
	line-height:1.8em;
}
/*DASHBOARD*/
#dashboard{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color:#F2F2F2;
	width:265px;
	margin-right:30px;
	float:left;
	border:1px solid #CFCFCF;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#dashboard h1{
	background: rgb(238,238,238);
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(236,236,236,1) 50%, rgba(218,218,218,1) 51%, rgba(221,221,221,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(50%,rgba(236,236,236,1)), color-stop(51%,rgba(218,218,218,1)), color-stop(100%,rgba(221,221,221,1)));
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(236,236,236,1) 50%,rgba(218,218,218,1) 51%,rgba(221,221,221,1) 100%);
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(236,236,236,1) 50%,rgba(218,218,218,1) 51%,rgba(221,221,221,1) 100%);
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(236,236,236,1) 50%,rgba(218,218,218,1) 51%,rgba(221,221,221,1) 100%);
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(236,236,236,1) 50%,rgba(218,218,218,1) 51%,rgba(221,221,221,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 );
	font-size:1.7em;
	border:1px solid white;
	padding:5px 15px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#dashboard li{
	/* border-bottom:1px dashed #CFCFCF; */
	border-bottom:1px dashed #8E8E8E;
	padding:10px 0;
}
#dashboard li:last-child{
	border:none;
}
#dashboard ul{
	margin:0px;
	padding:0 20px;
	font-size:1.1em;
}
/*DASHBOARD*/
/*POPUP*/
				.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom .mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom .mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom .mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom .mfp-ready .mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom .mfp-removing .mfp-bg {
	opacity: 0;
}

.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in .mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in .mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in .mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in .mfp-removing.mfp-bg {
	opacity: 0;
}
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*POPUP*/
#popup-window{
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:570px;
	padding:0px;
	position: relative;
	background: #F9F9F9;
	margin: 20px auto;
	border-radius:10px;
}
#popup-window h2{
	font-weight:lighter;
	background-color:#121212;
	color:#fff;
	padding:10px 25px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
#popup-window .popup-content{
	padding:20px 25px;
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:100%;
}
#popup-window table{
	display:inline-block;
	border-spacing:50px;
	width:230px;
	margin:0 10px;
}
#popup-window table.table1{
	float:left;
}
#popup-window table.table2{
	float:right;
}
#popup-window table,#popup-window th,#popup-window td{
	border:0px;
	padding:5px;
}
#popup-window input{
	width:100%;
	background-color:#F5F5F5;
	border:1px solid #E8E8E8;
	border-radius:3px;
	padding:2px 4px;
	text-align:center;
}
#popup-window td:nth-child(even){
	width:50px;
	text-align:center;
	font-size:0.8em;
}
#popup-window td:nth-child(odd){
	width:190px;
	text-align:left;
	font-size:0.8em;
}
#popup-window th{
	color:#9C4915;
	background:#F9F9F9;
}
#popup-window th:nth-child(odd){
	text-align:left;
}
#popup-window #next_button{
	display:inline-block;
	margin:10px 0 0 20px;
	background-color:#202020;
	color:#fff;
	padding:5px 10px;
	border:1px solid #000;
	border-radius:5px;
	cursor: pointer;
}

/*POPUP*/
#change_prices_div{
	width:70%;
}
