/*DESIGN INITIALIZATIONS*/
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{
	margin:0;
	padding:0;
	list-style-type:none;
}
html,body{
	font-family:calibri,sans-serif;
	font-size:14px;
	max-width:100%;
	overflow-x:hidden;
	
	
}
.wrapper{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width:1050px;
	padding:15px;
	margin:0px auto;
	overflow:auto;
}
.clear{
	clear:both;
}
/*DESIGN INITIALIZATIONS*/


/*HEADER*/
#header{
	border-top:6px solid #9D4B13;
	
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
}
#header_content{
	float:right;
	font-size:1.3rem;
}
#header_content li{
	display:inline-block;
}
#header_content #contacts{
	float:right;
	color:#AF6F41;
	margin:10px 0;
}
#contacts #phone{
	background-image:url('../images/contact_icon.png');
	background-position:left;
	background-repeat:no-repeat;
	padding-left:30px;
	text-decoration:underline;
}
#contacts #email{
	background-image:url('../images/e-mail_icon.png');
	background-position:left;
	background-repeat:no-repeat;
	padding-left:30px;
	margin-left:25px;
	text-decoration:underline;
}
#header_content #navigation_bar{
	margin:15px 0;
}
#navigation_bar .separator{
	margin:0 10px;
	padding:0px;
}
#navigation_bar #order_now_button{
	background-color:black;
	margin-left:15px;
	padding:5px 10px;
	border-radius:5px;
	border-top:2px groove #000;
	border-bottom:2px solid #000;
	border-left:2px solid #000;
	border-right:2px solid #000;
	color:#fff;
}

#header_image{
		float:left;
}
/*HEADER*/